@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.footer {
  height: 625px;
  width: 100%;
  background: #10367cff;
}

.container {
  display: flex;
  justify-content: space-between ;
  padding-top: 120px;
}

.container-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
   margin-left: 100px;
   margin-right: 220px;

}

.container-property-types {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 220px;
   margin-right: 280px;
}

.container-support {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 220px;
  margin-right: 270px;

}

.selected-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.inc {
  margin: 100px 1080px 120px 100px;
}
.inc-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}